* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#app {
  padding-top: 80px;
}

.form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  border-top: 3px solid #ccc;
}

#add-book-form {
  margin-inline: auto;
}

#title,
#author {
  margin-bottom: 20px;
  border: solid 2px #ccc;
  padding: 12px;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  width: 80px;
  cursor: pointer;
}

.remove {
  background-color: rgb(124, 47, 47);
  color: #fff;
  transition: all 300ms ease-in;
}

.remove:hover {
  background-color: red;
}

.submit {
  background-color: blueviolet;
  color: #fff;
  float: right;
  transition: all 300ms ease-in;
}

.submit:hover {
  background-color: rgb(152, 85, 214);
}

.books {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin-inline: 30px;
}

.book {
  display: flex;
  justify-content: space-between;
}

.book:nth-child(2n-1) {
  background: #ccc;
}

.separator {
  margin-top: 10px;
}

.book-title {
  font-size: 18px;
  font-weight: 600;
}

.no-book {
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

.leading-text {
  margin-left: 20px;
  text-align: center;
  padding: 10px;
}
